$transitionDuration: 0.8s; //transition for links

$color1: white; //header text
$color2: #ff4e50; //button background
$color3: #333333; //HOW bold test
$color4: #666666; // below round icons text
$color5: #cccccc; //footer DESIGNED text