& {
	
background-color: $color1;


		h1 {
		padding: 100px 10px 27px 0;
		text-align: center;
		font-family: 'Montserrat-Bold', sans-serif;
		font-size: 22px;
		color: $color3;
		clear: both;
		}
  
		//ISOTOPE Items style..........................................

		.isotope-contaner {
				margin: auto;

				.isotope {
										

					.item { 
					  position: relative;
					  width: 33%;
					  float: left;

					  .item-image-wrapper {

						padding: 15px;

						img {
						  width: 100%;
						  border-radius: 15px;
						}

						a {
						  display: block;
						  position: absolute;
						  top: 50%;
						  left: 40px;
						  text-decoration: none;
						  font-family: 'Montserrat-Bold', sans-serif;
						  font-size: 22px;
						  color: $color1;
						}
					  }
					}

				}//isotope
     }//isotope-contaner




		p {
			text-align: center;
			font-family: 'Roboto-Light', sans-serif;
			font-size: 18px;
			color: $color3;	
			padding: 7px 17px 41px 8px;
		}

		form {
			margin: auto;
			text-align: center;

			input {
				width: 238px;
				height: 39px; 
			line-height: 39px; //added
				font-family: 'Roboto-Light', sans-serif;
				font-size: 14px;
				color: $color6;
				margin-bottom: 11px;
		    margin-right: 14px;
		    padding-left: 14px;
				border: none;
				border: solid 1px $color6;
				border-radius: 3px;
			}

			button {
				background-color: $color2;
				border: solid 2px $color2;
				border-radius: 20px;
				width: 158px;
		    height: 40px;
		    margin-right: 10px;
				color: $color1;
				font-family: 'Montserrat-Bold', sans-serif;
				font-size: 14px;
				text-align: center;
			}
		}

				
}//&