& {
	
	background-color: $color1;


		h1 {
		display: block;
		padding-top: 35px;
    line-height: 25px;
		padding-bottom: 4px;
		text-align: center;
		font-family: 'Montserrat-Bold', sans-serif;
		font-size: 22px;
		color: $color3;
		}

			//ISOTOPE Items style..........................................

					.isotope-contaner {
							margin: auto;

							.isotope {
													

								.item { 
											position: relative;
											width: 100%;
											//float: left;
											

											img {
											width: 100%;
											border-radius: 15px;
											padding: 10px 10px 10px 10px;
											}

											a {
												display: block;
												position: absolute;
												top: 50%;
												left: 40px;
												text-decoration: none;
												font-family: 'Montserrat-Bold', sans-serif;
												font-size: 22px;
												color: $color1;
											}
									}

							}//isotope
			     }//isotope-contaner




		p {
			text-align: center;
			font-family: 'Roboto-Light', sans-serif;
			font-size: 18px;
			color: $color3;	
			padding: 8px 0 0 0px;
		}

		form {
			margin: auto;
			text-align: center;

			input {
				width: 278px;
				height: 39px; 
			line-height: 39px; //added
				font-family: 'Roboto-Light', sans-serif;
				font-size: 14px;
				color: $color6;
				margin-bottom: 11px;
				margin-top: 20px;
				padding-left: 15px;
				border: none;
				border: solid 1px $color6;
				border-radius: 3px;
			}

			button {
				background-color: $color2;
				border: solid 2px $color2;
				border-radius: 20px;
				width: 278px;
				height: 39px;
				color: $color1;
				font-family: 'Montserrat-Bold', sans-serif;
				font-size: 14px;
				text-align: center;
			}
		}

	

				
}//&