& {
	
	background-color: $color1;
	h1 {
				padding: 95px 0 30px 0;
				text-align: center;
				font-family: 'Montserrat-Bold', sans-serif;
				font-size: 22px;
				color: $color3;
			}

.partner {
		text-align: center;

		 figure {

			 		display: inline-block;
			 		position: relative;
			 		width: 220px;
			 		height: 240px;
			 		text-align: center;

			 		img {
			 			border-radius: 100%;
			 			margin-bottom: 20px;
			 		}

			 		span {
			 		 position: absolute;
			 		 z-index: 99;
			 		 width: 42px;
			 		 height: 43px;
			 		 top: 86px;
    			 right: 45px;

			 			&.TVicon { background: url(img/meetPartnerIcon_sprite.png) 0px -126px no-repeat; }
			 			&.bottleIcon { background: url(img/meetPartnerIcon_sprite.png) 0px -43px no-repeat; }
			 			&.cupIcon { background: url(img/meetPartnerIcon_sprite.png) 0px -86px no-repeat; }
			 			&.planeIcon { background: url(img/meetPartnerIcon_sprite.png) 0px 0px no-repeat; }


			 		}

			 		h2 {
			 				padding: 0 0 16px 0;

				 			a {
						 			text-decoration: none;
						 			font-family: 'Montserrat-Bold', sans-serif;
									font-size: 14px;
									color: $color3;
							}
			 		}

			 		figcaption {
			 			font-family: 'Roboto-Light', sans-serif;
						font-size: 14px;
						color: $color4;
						display: block;
				    height: 59px;
				    overflow: hidden;
			 		}

			 }//figure

	}//partner

			a.partner_link {
				display: block;
				width: 185px;
				height: 36px;
				margin:auto;
				margin-top: 35px;
				text-decoration: none;
				text-align: center;
				line-height: 31px;
				background-color: $color1;
				border-radius: 20px;
				border: solid 2px $color2;
				transition: color $transitionDuration, background-color $transitionDuration;
				font: {
					family: 'Montserrat-Bold', sans-serif;
					size: 14px;
				}
				color: $color2;

						&:hover {
								background-color: $color2;
				        color: $color1;
						}
			}	

	

		
				
}//&