@media #{$tablet} {
	@import '../desktop'; //Closer to desktop variant+several corrections

	width: 492px;
	margin: auto;

	

.partner {
		
		 figure {
	
			 		
			 		

			 		h2 {
			 				padding: 0 0 20px 0;

				 	}

			 		
			 }//figure

	}//partner
		

}
