@media #{$tablet} {
	@import '../desktop'; //Closer to desktop variant+several corrections

margin-top: 91px;

		h1 {
			padding: 38px 0 0 38px;
		}

		h2 {
			padding: 38px 0 0 104px;
		}

		nav {
			padding: 38px 0 0 81px;
		}
		
		.designedBy {
				padding: 38px 40px 0 0;
		}
		

}
