@media #{$tablet} {
	@import '../desktop'; //Closer to desktop variant+several corrections

		.LoginArea {
		  padding: 36px 50px 0 0;
      width: 218px;
		}

		h1 {
		  padding: 48px 0 0 48px;
		}

		h2 {
			padding-top: 151px;
		}

		h3 {
			padding-top: 27px;
		}

		.findButton {
			padding-top: 37px;
		}


}
